<!doctype html>
<html >
<head>
    <meta charset="UTF-8">
    <link as="image" href="/static/notyet.png" />
    <link as="image" href="/static/bille.png" />

    <script rel="preload" src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

    <script src="https://kit.fontawesome.com/a788760829.js" crossorigin="anonymous"></script>
    <link   rel="stylesheet" href="/static/style.css"/>
    <script src="/static/code.js" ></script>

    <link rel="icon" href="/static/favicon.ico"/>
    <script >
        var user = "{{ user }}";

        var D = false;
        D = '{{ dbg }}' ;
        {% if (D != '0') and (D !='') and (D != 'False') %}
         D = true;
        {% endif %}
        window.DBG = D;
    </script>
</head>

<body class="container col elastic milieu-cont centre-cont"  >
{% block error %}{{ error }}{% endblock %}
    <div class="spacer larger" ></div>
{% block body %}
    <div class="spacer large"></div>
    <div class="noaction"></div>
    <p class="warning" >
        <span class="fa-2x" ><i class="fas fa-spinner fa-spin"></i></span>
     </p>
     <p class="warning"><span><i class="fas fa-cog fa-spin"></i></span> ... Merci de patienter... Chargement...</p>'
{% endblock %}
</body>
{% block code %}{% endblock %}
</html>