{% extends 'index.html' %}

{% block title %} - Login{% endblock %}
{% block code %}
<script type="text/javascript">
$(document).ready( () =>  {
    $(".error").hide();
});

$('#form_login').submit(async (ev) => {
    $("#error").hide();
    ev.preventDefault();

    var url_string = window.location.href;
    var url = new URL(url_string);
    var redirectUrl = url.searchParams.get("redirectUrl");

    var headers = new Headers();
    headers.append('Accept', 'application/json');
    
    var login = $("#login").val();
    var oData = new FormData();
    oData.append('login', login)
    oData.append('password', $("#password").val())
    
    try {
        var req = new Request('/connect', {
            headers : headers,
            method: 'POST',
            body: oData
            });
    
        var resp= await fetch(req);
        if (resp.ok) {
            user = login;
            if (redirectUrl != null) {
                var data = await resp.json();
                url = new URL(redirectUrl);
                url.searchParams.set("token",encodeURI(data["token"]))

                window.location.replace(url.toString());
            } else {
                window.location.replace("/");
            }
        } else {
            user = '';
            if (redirectUrl != null) {
                var data = await resp.json()
                var url = new URL(redirectUrl);
                url.searchParams.set("error", encodeURI(data))
                window.location.replace(url.toString());
            } else {
                var data = await resp.json();
                $(".error")
                    .text(JSON.stringify(data))
                    .show();
            }
        }
    }
    catch (e) {
        console.error('Error in login ', e);
        $(".error").show();
    } finally {
        ev.preventDefault();
        return false;
    }
});
</script>
{% endblock %}

{% block body %}
    <header class="container row debut ">
        <h1 class="title centre debut" >Login</h1>
    </header>
    <div class="spacer large " ></div>
    <main class="container col debut gap5">
        <p class="error" >Error in login or password</p>
        <form class="container row debut gap5"
                enctype="multipart/form-data" 
                method="post" 
                 id="form_login"
                 name="form_login">
                <div class="container col gap5" >
                    <label for="login">Login*</label>
                    <label for="password">Password*</label>
                </div>
                <div class="container col gap5" >
                    <input type="text"
                        autocomplete="username"
                        placeholder="Enter Username" 
                        name="login" id="login" 
                        required   >
                    <input type="password" 
                        autocomplete="current-password" 
                        placeholder="Enter Password"
                        id="password" name="password"
                        required   >
                    <button class=" milieu-cont button"  type="submit"
                        >Login</button>
                </div>
        </form>
    </main>
{% endblock %}