{% extends 'bribe.html' %}

{% block code %}
{% if  podcast != None %}
    {%if podcast .id >= 0 %}
<script type="text/javascript">
    var nbEpisods  = {{ podcast.counts.total}};
    var nbUnread   = {{ podcast.counts.unreadeds}};
    var nbUnsynced = {{ podcast.counts.unsynceds}};
    var nbRead     = {{ podcast.counts.readeds}};
    var nbSynced   = {{ podcast.counts.synceds}};    
</script>
    {% endif %}
{% endif %}
{% endblock %}

{% block body %}
{% if  podcast != None %}
    
<header class="container col full debut-cont gap10">
    <div class="container row full reparti debut-cont">
        <a class="container clickable col  vignette rigid " href="/">
            <div class="pastille debut rigid"  alt="Retour Liste" ><i class="fas fa-arrow-circle-left"></i></div>
        </a>
        {% if podcast.image != None %}
        <img class="vignette rigid " src="{{podcast.image}}" />
        {% else %}
        <img class="vignette rigid " src="/static/notyet.png" />
        {% endif %}
        <div class="spacer "></div>
        <div class="container elastic col fin debut-cont gap5">
            <h1 class="title milieu">{{ podcast.title }}</h1>
            {% if podcast.description != None %}
            <p class=" desc short clickable" >{{ podcast.description }}</p>
            {% endif %}
        </div>
    </div>

    <div  class="container row full reparti" >
        <div class="container col debut">
            <div class="clickable  button" 
                    alt="Marquer TOUS lus"
                    onclick="allRead( {{ podcast.id }} )">
                 TOUS lus
            </div>
        </div>

        <div class="container col debut">
            <div class=" button  clickable " 
                    alt="Marquer AUCUN lu"
                    onclick="noneRead({{ podcast.id }} )" >
                 AUCUN lu
            </div>
        </div>
        <div class="spacer"  > </div>
        <div class="spacer"  > </div>
        
        <div class="container col fin">
            <div class="clickable  button" 
                    alt="Ne RIEN synchroniser"
                    onclick="noneSync( {{ podcast.id }} )"   >
                AUCUNE synchro
            </div>
        </div>

        <div class="container col fin">
            <div class=" clickable  button " 
                    alt="TOUT synchroniser"
                    onclick="allSync( {{ podcast.id }} )"   > 
                TOUT synchro
            </div>
        </div>
    </div>
    {% block count %}
    <div  class="container row reparti gap10 full" >
        <div class="spacer"  > </div>
        <div class="debut recap" ><span id="readed">{{ podcast.counts.readeds}}</span>  / <span class="total">{{ podcast.counts.total}}</span> déjà lus </div>
        <div class="spacer"  > </div>
        <div class="spacer"  > </div>
        <div class="fin   recap" ><span id="readed">{{ podcast.counts.synceds}}</span>  / <span class="total">{{ podcast.counts.total}}</span> à synchroniser</div>
        <div class="spacer"  > </div>
    </div> 
    {% endblock %}

   
</header>
    <div class="spacer large" ></div>
    <main class="container col debut gap10">
        {% for episode in podcast.episodes %}
        <article class="container col cadre survol elastic gap0" id="{{episode.id}}" >
            <h2 class="title">({{ episode.position }}) - {{ episode.title }}</h2>
            <p></p>
            <div class="audio">
                <audio controls preload="none" 
                        id="audio_{{ episode.id }}">
                    <source src="{{ episode.audio_url }}" type="audio/mp3"/>
                    Your browser does NOT support the "audio" HTML Tag
                </audio>
            </div>
            
            <div class="container row debut" >
                <div tabindex class="container col ">
                {% if episode.readed == 1 %}
                    <p class="  read"
                     id="read_{{ episode.id }}"
                    ><span><i class="far fa-check-square fa-2x"></i></span> Lu  &nbsp; &nbsp; </p>
                {% else %}
                    <p class="  read"
                       id="read_{{ episode.id }}"
                       ><span><i class="far fa-square "></i></span> Non lu </p>
                {% endif %}
                </div>

                <div class="spacer"></div>
                
                <div tabindex class="container col"  >
                {% if episode.sync_watch == 1 %}
                    <p class="toggle checked synced"  
                       id="sync_{{ episode.id }}"
                       ><span><i class="far fa-check-square fa-2x"></i></span> A synchroniser  &nbsp; &nbsp; </p>
                {% else %}
                    <p class="toggle unchecked synced "  
                       id="sync_{{ episode.id }}"
                    ><span><i class="far fa-square"></i></span > Ne pas synchroniser </p>
                {% endif %}
                </div>
            </div>
        </article>
        {% endfor %}
    </main>
  {% endif %}
{% endblock %}
