{% extends 'podcast-id-tpl.html' %}
 
{% block count %}
<div  class="container row reparti gap10 full" >
    <div class="spacer"  > </div>
    <div class="debut recap" ><span id="readed">{{ podcast.counts.readeds}}</span>  / <span class="total">{{ podcast.counts.total}}</span> déjà lus </div>
    <div class="spacer"  > </div>
    <div class="spacer"  > </div>
    <div class="fin   recap" ><span id="readed">{{ podcast.counts.synceds}}</span>  / <span class="total">{{ podcast.counts.total}}</span> à synchroniser</div>
    <div class="spacer"  > </div>
</div> 
{% endblock %}
